body {
    height: 100vh;
    font-family: 'Rubik', sans-serif;
    background: white;
    direction: rtl;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone {
    background: #0078d4;
    width: 360px;
    height: 640px;
    border-radius: 40px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    color: white;
    gap: 30px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skip-btn {
    background: white;
    color: #0078d4;
    border-radius: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skip-btn {
    background: #e0e0e0;
    color: #005fa3;
}

.subtitle {
    font-size: 16px;
    color: #e0e0e0;
    text-align: center;
    align-self: center;
    width: 100%;
}

.card {
    background: rgb(88, 140, 243);
    color: #f9fafb;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 1px;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.card-content h2 {
    font-size: 18px;
}

.card-content p {
    font-size: 14px;
    color: #f7f7f7;
}